nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
@media screen and (max-width:576px) {
    #headerMenu>li:hover{
        
    }
}
#top_bar{
    
    width :auto ;
    height:auto ;
    /*     width: 100vw;
    height: 100vh;
    border: 1px solid   red; */
    display:flex;
    flex-direction:row;
    justify-content:flex-end; 
}
.u_bar{
    background-color: blue;
   /*  width: 600px; */
    height: 200px;;

}

.siteEcole{
    width: 720px;
    justify-content: left;
    background-color: white;
}
.ecole{
    width: 60px;
    justify-content: end;
    
}
.contact{
    width: 100px;
    background-color: white;
}
